@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,900;1,800;1,900&display=swap');

.page-background-register {
    background-color: #0e0e24;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title-register {
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center; 
    margin-bottom: 20px; 
}

.input-input-bordered-w-full-registe {
    color: white;
}

input {
    margin-bottom: 40px;
    color: white;
    background-color: #0e0e24;
    border: solid 1px white;
    width: 100%; 
    max-width: 500px; 
    height: 25px;
    padding: 5px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.btnForm-mt-10-btn-registerr {
    width: 100%; 
    max-width: 510px; 
    height: 60px;
    border-radius: 15px;
    margin-top: 40px;
    border: none;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #161622;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer; 
}

.btnForm-mt-10-btn-loginn {
    background-color: #0e0e24;
    border: none;
    color: white;
    width: 100%; 
    max-width: 510px; 
    text-align: center; 
    margin-top: 20px;
    cursor: pointer; 
}

.btnForm-mt-10-btn-loginn a {
    color: white;
    text-decoration: none; 
    display: block; 
    padding: 15px; 
}



@media (max-width: 768px) {
    .title-register {
        font-size: 24px; 
    }

    input {
        width: 100%; 
    }

    .btnForm-mt-10-btn-registerr, .btnForm-mt-10-btn-loginn {
        width: 100%; 
        font-size: 14px; 
    }
}
