@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,900;1,800;1,900&display=swap');



input {
    background-color: #161622;
    border: solid 1px white;
    width: 500px;
    height: 25px;
    margin-top: 10px;
    color: white;
    font-family: Poppins;
    font-weight: 400;
}